<div class="row" data-bind="foreach: jewelries">
    <div class="col-12 col-sm-6 col-xl-4 mb-4">
        <a class="text-black jewelry-card" title="Посмотреть подробнее" data-bind="attr:{href: url}">
            <!-- ko if: discount.amount > 0 -->
            <div class="card-discount" data-bind="text: '-' + discount.amount + '%'"></div>
            <!-- /ko -->
            <div class="card-image">
                <img data-bind="attr:{src: imageSrc, alt: name}" />
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="actions">
                        <!-- ko if: jewelrySizes.length === 0 -->
                        <div class="add-to-cart" title="Добавить в корзину" data-bind="click: function(){AddToCart(id)}">
                            <img src="~/images/icons/shopping-bag.svg" />
                        </div>
                        <!-- /ko -->
                        <!-- ko if: jewelrySizes.length > 0 -->
                        <div class="add-to-cart" title="Добавить в корзину" data-bind="click: function(){GoTo(url)}">
                            <img src="~/images/icons/shopping-bag.svg" />
                        </div>
                        <!-- /ko -->
                    </div>
                }
                else
                {
                    <div class="actions">
                        <div class="add-to-cart" title="Добавить в корзину" data-bind="click: function(){GoTo('/account/login')}">
                            <img src="~/images/icons/shopping-bag.svg" />
                        </div>
                    </div>
                }
            </div>
            <div class="card-content">
                <h6 data-bind="text: name"></h6>
            </div>
            <div class="card-price">
                <span data-bind="text: 'BYN ' + price"></span>
            </div>
        </a>
    </div>
</div>
<div class="row justify-content-center" data-bind="if: jewelriesNotFound">
    <h5>Кажется у нас нет такого товара...</h5>
</div>