<div class="row" data-bind="foreach: jewelries">
    <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="jewelry-card">
            <div class="card-image">
                <img data-bind="attr:{src: imageSrc}" />
                <div class="card-shadow"></div>
                <div class="actions">
                    <div class="add-to-cart">К</div>
                </div>
            </div>
            <div class="card-content">
                <h6>
                    <a class="text-black" data-bind="attr:{href: url}, text: name"></a>
                </h6>
            </div>
            <div class="card-price" data-bind="text: 'Br ' + price"></div>
        </div>
    </div>
</div>
<div class="row justify-content-center" data-bind="if: jewelriesNotFound">
    <h5>Кажется у нас нет такого товара...</h5>
</div>
