<div class="row" data-bind="foreach: jewelries">
    <div class="col-12 col-sm-6 col-xl-4 mb-4">
        <div class="jewelry-card">
            <div class="card-image">
                <img data-bind="attr:{src: imageSrc, alt: name}" />
                <div class="card-shadow"></div>
                <div class="actions">
                    <a href="javascript: undefined;" title="В корзину">
                        <div class="add-to-cart">
                            <img src="~/images/icons/shopping-bag.svg" />
                        </div>
                    </a>
                </div>
            </div>
            <div class="card-content">
                <h6>
                    <a class="text-black" data-bind="attr:{href: url}, text: name"></a>
                </h6>
            </div>
            <div class="card-price">
                <span data-bind="text: 'Br ' + price"></span>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center" data-bind="if: jewelriesNotFound">
    <h5>Кажется у нас нет такого товара...</h5>
</div>
