<div class="d-flex justify-content-center" data-bind="if: pagesVisible">
    <ul class="pagination-box">
        <li data-bind="click: selectedNewPage(1)">
            <span class="text-black">❮❮</span>
        </li>
        <!-- ko foreach: {data: pages, as: 'number'} -->
        <li data-bind="css: {'active': $root.current() === number}, click: $root.selectedNewPage">
            <span class="text-black" data-bind="text: number"></span>
        </li>
        <!-- /ko -->
        <li data-bind="click: function(){selectedNewPage(pageCount())}">
            <span class="text-black">❯❯</span>
        </li>
    </ul>
</div>