@section Css {
    <link rel="stylesheet" href="~/inline/css/catalog.css" />
}
<div class="container">
    <div class="row mt-4">
        <div id="filterSection" class="col-lg-4 col-xl-3">
            @await Html.PartialAsync("_Filters")
        </div>
        <div id="productsSection" class="col-lg-8 col-xl-9">
            @await Html.PartialAsync("_Cards")
            @await Html.PartialAsync("_Paging")
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/inline/js/catalog.js"></script>
}
