<header>
    <div class="container">
        <div class="header-content justify-content-lg-start">
            <a class="brand-name" asp-area="" asp-controller="Home" asp-action="Index">
                <span>Glatteis</span>
            </a>
            <ul class="nav col-12 col-lg-auto mb-md-0 me-lg-auto site-navigation">
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Catalog" asp-action="List" asp-route-jkind="All">Каталог</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">О нас</a>
                </li>
            </ul>
            <form asp-controller="Catalog" asp-action="List" method="get" class="col-12 col-lg-4 mb-3 mb-lg-0 me-lg-3">
                <input id="searchInput" type="search" name="searchName" class="form-control" placeholder="Поиск по каталогу..." aria-label="Search" autocomplete="off" />
                <div id="searchOptions" class="search-options-container">
                    <!-- ko if: options() != "" && options() != null -->
                    <ul class="search-options" data-bind="foreach: { data: options, as: 'option' }">
                        <li data-bind="click: function(){ClickOnSearchName(option)}, text: option"></li>
                    </ul>
                    <!-- /ko -->
                </div>
            </form>
            <div class="dropdown text-end">
                <a class="header-cart" asp-controller="Cart" asp-action="Cart">
                    <img src="~/images/icons/shopping-bag.svg" />
                    <span id="itemsInCart">@await Component.InvokeAsync("CartItemCount")</span>
                </a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="javascript: undefined;" id="user" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/images/icons/user.svg" alt="Аккаунт">@await Component.InvokeAsync("UserName")
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="user">
                        <li>
                            <a asp-controller="Profile" asp-action="Profile" class="dropdown-item">Профиль</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li>
                                <a asp-controller="DBChangering" asp-action="DataBaseEditor" class="dropdown-item">База данных</a>
                            </li>
                        }
                        <li>
                            <a asp-controller="Account" asp-action="Logout" class="dropdown-item">Выйти</a>
                        </li>
                    </ul>
                }
                else
                {
                    <a href="javascript: undefined;" id="user" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/images/icons/user.svg" alt="Аккаунт">
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="user">
                        <li>
                            <a asp-controller="Account" asp-action="Login" class="dropdown-item">Войти</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Register" class="dropdown-item">Регистрация</a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
</header>