<header>
    <div class="container">
        <div class="header-content justify-content-lg-start">
            <a class="brand-name" asp-area="" asp-controller="Home" asp-action="Index">
                <span>Glatteis</span>
            </a>
            <ul class="nav col-12 col-lg-auto mb-md-0 me-lg-auto site-navigation">
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Catalog" asp-action="List" asp-route-jkind="All">Каталог</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">О нас</a>
                </li>
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control" placeholder="Поиск по каталогу..." aria-label="Search">
            </form>
            <div class="dropdown text-end">
                <a asp-controller="Cart" asp-action="Cart">
                    <img src="~/images/icons/shopping-bag.svg" />
                </a>
                <a href="javascript: undefined;" id="user" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/images/icons/user.svg" alt="Аккаунт">
                </a>
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="dropdown-menu text-small" aria-labelledby="user">
                        <li>
                            <a href="javascript: undefined;" class="dropdown-item">Профиль</a>
                        </li>
                        <li>
                            <a href="javascript: undefined;" class="dropdown-item">Настройки</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Logout" class="dropdown-item">Выйти</a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="dropdown-menu text-small" aria-labelledby="user">
                        <li>
                            <a asp-controller="Account" asp-action="Login" class="dropdown-item">Войти</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Register" class="dropdown-item">Регистрация</a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
</header>