<header>
    <div class="container">
        <div class="header-content justify-content-lg-start">
            <a class="brand-name" asp-area="" asp-controller="Home" asp-action="Index">
                <span>Glatteis</span>
            </a>
            <ul class="nav col-12 col-lg-auto mb-md-0 me-lg-auto site-navigation">
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Catalog" asp-action="List" asp-route-jkind="All">Каталог</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">О нас</a>
                </li>
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control" placeholder="Поиск по каталогу..." aria-label="Search">
            </form>
            <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="user" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/images/icons/user.svg" alt="Аккаунт" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="user" style="">
                    <li>
                        <a class="dropdown-item" href="#">Профиль</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Настройки</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Выйти</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>