<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("PartialMetatag")
    <title>@ViewData["Title"] - Glatteis</title>
    @await Html.PartialAsync("PartialCss")
    @await RenderSectionAsync("Css", required: false)
</head>
<body>
    @await Html.PartialAsync("PartialHeader")

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await Html.PartialAsync("PartialFooter")

    @await Html.PartialAsync("PartialScripts")

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
