<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("_Metatag")
    <title>@ViewData["Title"]</title>
    @await Html.PartialAsync("_Css")
    @await RenderSectionAsync("Css", required: false)
</head>
<body>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(78799579, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/78799579" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    @await Html.PartialAsync("_Header")
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    @await Html.PartialAsync("_Footer")
    @await Html.PartialAsync("_Scripts")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
