.cart {
    background-color: white;
    padding: 30px;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

    .cart:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        background: white;
        opacity: 0;
        visibility: hidden;
    }

.title > h3 {
    color: #555555;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
}

    .title > h3::before {
        content: "";
        background-color: #d8a247;
        width: 70px;
        height: 2px;
        position: absolute;
        bottom: -2px;
        left: 0;
    }

@media (max-width: 767px) {
    .cart {
        padding: 20px;
        font-size: 12px;
    }

    .cart-item-delete {
        font-size: 16px !important;
    }
}

@media (max-width: 575px) {
    .cart {
        padding: 9px;
        font-size: 10px;
    }

    .cart-item-delete {
        padding: 0px;
        font-size: 12px !important;
    }
}

.cart-item-img {
    padding-left: 0px;
    padding-right: 0px;
}

    .cart-item-img > img {
        width: 100%;
        max-height: 200px;
        max-width: 200px;
    }

.cart-item-name > a {
    transition: .25s ease-in;
    color: black;
}

    .cart-item-name > a:hover {
        transition: .25s ease-in;
        color: #d8a247;
    }

.cart-item-delete {
    font-size: 20px;
}

    .cart-item-delete > span:hover {
        cursor: pointer;
    }

.cart-purchase-container {
    padding-top: 15px;
    border-top: 1px solid #ddd;
}

    .cart-purchase-container > form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .cart-purchase-container .cart-purchase {
        border: none;
        background-color: #333333;
        margin-right: 10px;
        transition: 0.3s ease-in;
        display: block;
        color: white;
        padding: 10px 15px;
    }

        .cart-purchase-container .cart-purchase:hover {
            transition: 0.3s ease-in;
            background-color: #d8a247;
        }

.cart-empty {
    text-align: center;
}

    .cart-empty > .cart-empty-title {
        font-size: 28px;
        margin-bottom: 18px;
    }

    .cart-empty > .cart-empty-description > .cart-empty-img {
        margin-top: 30px;
    }

        .cart-empty > .cart-empty-description > .cart-empty-img > img {
            width: 40vh;
        }
