.jewelry-card {
    border: 1px solid #e5e5e5;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
}

    .jewelry-card:hover {
        transition: 0.25s ease-in;
        border-color: #d8a247;
    }

.card-image {
    position: relative;
}

    .card-image > img {
        transition: 0.5s ease-in;
        transform: scale(0.85);
        width: 100%;
    }

    .card-image:hover > img {
        transition: 0.5s ease-in;
        transform: scale(1);
        opacity: 1;
    }

    .card-image:hover .add-to-cart {
        opacity: 1;
        transform: translate(0, 0);
    }

.actions {
    bottom: 15px;
    right: 15px;
    position: absolute;
}

.add-to-cart {
    opacity: 0;
    width: 30px;
    height: 30px;
    background-color: black;
    transform: translate(15px, -50px);
    transition: 0.5s ease-in-out;
}

    .add-to-cart > img {
        width: 17px;
        height: 15px;
    }

    .add-to-cart:hover {
        transition: 0.25s ease;
        background-color: #d8a247;
    }

.card-content {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}

    .card-content a {
        color: #2E2E2E;
        margin: 15px 0 5px;
        padding-bottom: 8px;
        display: block;
        position: relative;
    }

        .card-content a:hover {
            transition: 0.25s ease-in;
            text-decoration: none;
            color: #d8a247;
        }

.card-price {
    padding-bottom: 10px;
    position: relative;
    font-size: 16px;
}

    .card-price span::before {
        content: "";
        position: absolute;
        width: 90%;
        height: 1px;
        background: black;
        left: 50%;
        margin-left: -45%;
        top: -10px;
    }

.pagination-box {
    padding: 0px;
}

    .pagination-box li {
        cursor: pointer;
        display: inline-block;
        position: relative;
        padding: 21px 21px;
        background-color: white;
        border: 1.08px solid #e5e5e5;
    }

        .pagination-box li > a {
            padding: 10px 17px;
            position: absolute;
            transform: translate(-50%,-50%);
            text-decoration: none;
        }

        .pagination-box li.active {
            background-color: #d8a247;
            color: white;
        }

        .pagination-box li:hover {
            transition: all 0.3s ease-in;
            background-color: #d8a247;
            color: white;
        }

.text-black {
    color: black;
}

.filter-block {
    border: 1px solid #e5e5e5;
    background-color: white;
}

    .filter-block h5:before {
        content: "";
        background-color: #d8a247;
        width: 70px;
        height: 2px;
        position: absolute;
        bottom: -2px;
        left: 0;
    }

.filter-block-category {
    border: 1px solid #e5e5e5;
    background-color: white;
}

.filter-block-name {
    background-color: #d8a247;
}

#filters h5 {
    padding: 10px 16px;
    margin: 0;
    position: relative;
}

#filters ul li {
    padding: 10px 16px;
    border-top: 1px solid #f2f2f2;
}

    #filters ul li a span:hover {
        transition: 0.1s;
        color: #d8a247;
    }

.bg-sidebar {
    z-index: 3;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.open-sidebar-button {
    z-index: 2;
    bottom: 24px;
    left: 24px;
    right: 24px;
    display: flex;
}

@media (min-width: 992px) {
    .bg-sidebar {
        display: none;
    }

    .open-sidebar-button {
        display: none;
    }
}

@media (max-width: 991px) {
    #filters {
        overflow-y: auto;
        position: fixed;
        z-index: 4;
        left: -280px;
        top: 0;
        bottom: 0;
        width: 280px;
        padding: 0;
        transition: .3s;
        margin: 0;
        background-color: white;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

        #filters.opened {
            left: 0;
        }
}
