/*--------------card--------------*/
#productsSection {
    position: relative;
}

    #productsSection:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        background: white;
        opacity: 0;
        visibility: hidden;
    }

.jewelry-card {
    border: 1px solid #e5e5e5;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
}

    .jewelry-card:hover {
        transition: 0.25s ease-in;
        border-color: #d8a247;
    }

.card-image {
    position: relative;
}

    .card-image > img {
        transition: 0.5s ease-in;
        transform: scale(0.85);
        width: 100%;
    }

    .card-image:hover > img {
        transition: 0.5s ease-in;
        transform: scale(1);
        opacity: 1;
    }

    .card-image:hover .add-to-cart {
        opacity: 1;
        transform: translate(0, 0);
    }

.actions {
    bottom: 15px;
    right: 15px;
    position: absolute;
}

.add-to-cart {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    opacity: 0;
    width: 30px;
    height: 30px;
    background-color: #333333;
    transform: translate(15px, -50px);
    transition: 0.5s ease-in-out;
}

    .add-to-cart > img {
        width: 16px;
        height: 14px;
    }

    .add-to-cart:hover {
        transition: 0.25s ease;
        background-color: #d8a247;
    }

.card-content {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    color: #2E2E2E;
    margin: 15px 0 5px;
    padding-bottom: 8px;
    position: relative;
}

    .card-content:hover {
        transition: 0.25s ease-in;
        color: #d8a247;
    }

.card-price {
    color: black;
    padding-bottom: 10px;
    position: relative;
    font-size: 16px;
}

    .card-price span::before {
        content: "";
        position: absolute;
        width: 90%;
        height: 1px;
        background: black;
        left: 50%;
        margin-left: -45%;
        top: -10px;
    }

/*--------------filter--------------*/
.filter-block {
    border: 1px solid #e5e5e5;
    background-color: white;
}

    .filter-block h5:before {
        content: "";
        background-color: #d8a247;
        width: 70px;
        height: 2px;
        position: absolute;
        bottom: -2px;
        left: 0;
    }

.filter-block-category {
    border: 1px solid #e5e5e5;
    background-color: white;
}

    .filter-block-category > ul > li > button:before {
        width: 1.25em;
        line-height: 0;
        content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
        transition: transform .35s ease;
        transform-origin: .5em 50%;
    }

    .filter-block-category > ul > li > button[aria-expanded="true"]:before {
        transform: rotate(90deg);
    }

    .filter-block-category > ul > li > button:hover {
        color: #d8a247;
    }

    .filter-block-category > ul > li > button:focus {
        box-shadow: none;
    }

    .filter-block-name {
        background-color: #d8a247;
    }

#filters h5 {
    padding: 10px 16px;
    margin: 0;
    position: relative;
}

#filters ul li {
    padding: 10px 16px;
    border-top: 1px solid #f2f2f2;
}

    #filters ul li a span:hover {
        transition: 0.1s;
        color: #d8a247;
    }

.bg-sidebar {
    z-index: 3;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.open-sidebar-button {
    z-index: 2;
    bottom: 24px;
    left: 24px;
    right: 24px;
    display: flex;
}

@media (min-width: 992px) {
    .bg-sidebar {
        display: none;
    }

    .open-sidebar-button {
        display: none;
    }
}

@media (max-width: 991px) {
    #filters {
        overflow-y: auto;
        position: fixed;
        z-index: 4;
        left: -280px;
        top: 0;
        bottom: 0;
        width: 280px;
        padding: 0;
        transition: .3s;
        margin: 0;
        background-color: white;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

        #filters.opened {
            left: 0;
        }
}
