.item-img {
    border: 1px solid #E5E5E5;
    width: 100%;
}

.item-characteristic {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: white;
    height: 100%;
    border: 1px solid #e5e5e5;
}

.item-title {
    margin-bottom: 20px;
}

.item-gold-characterisitc > li {
    margin-bottom: 5px;
}

    .item-gold-characterisitc > li > span {
        color: #d8a247;
    }

.form-select {
    display: inline-block;
    max-width: 80px;
}

    .form-select:focus {
        border-color: #d8a247;
        box-shadow: none;
    }

.form-control:focus {
    border-color: #d8a247;
}

.item-buttons {
    display: flex;
    flex: 1 0 auto;
    align-items: flex-end;
}

    .item-buttons > div {
        display: inline-block;
        margin-top: 20px;
    }

        .item-buttons > div.cart-action {
            background-color: #333333;
        }

            .item-buttons > div.cart-action > a {
                transition: 0.3s ease-in;
                display: block;
                color: white;
                padding: 10px 15px;
            }

                .item-buttons > div.cart-action > a:hover {
                    transition: 0.3s ease-in;
                    background-color: #d8a247;
                }