.login-form {
    background-color: white;
    padding: 30px;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
    width: 50%;
}

    .login-form .login-title {
        padding-bottom: 15px;
    }

    .login-form label {
        font-size: 14px;
        margin-bottom: 12px;
    }

    .login-form input {
        width: 100%;
        border: 1px solid #e5e5e5;
        padding: 8px;
        font-size: 14px;
        color: #888888;
    }

    .login-form span {
        font-size: 12px;
        color: red;
    }

@media (max-width: 767px) {
    .login-form {
        width: 100%;
    }
}

.login-content > div {
    margin-bottom: 15px;
}

.login-other {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0px !important;
}

.login-other > a {
    transition: all 0.3s ease-in;
    font-size: 14px;
    color: black;
}

    .login-other > a:hover {
        transition: all 0.3s ease-in;
        color: #cda557;
    }

    .login-other > div > label {
        margin-bottom: 0px !important;
        margin-right: 10px;
    }

.accept-register {
    transition: all 0.3s ease-in;
    background-color: #595959;
    color: white !important;
    display: block;
    height: 40px;
    text-transform: uppercase;
}

    .accept-register:hover {
        transition: all 0.3s ease-in;
        background-color: #cda557;
    }

.remember-input {
    width: auto !important;
}
