@{
    ViewData["Title"] = "Подтверждение Email";
}
@section Css {
    <link rel="stylesheet" href="~/inline/css/register-login.css" />
}
<div class="container d-flex mt-3">
    <div class="login-form m-auto">
        <h4 class="login-title">Регистрация аккаунта</h4>
        <div>
            <p>Для завершения регистрации перейдите по ссылке, которую мы отправили на вашу электронную почту.</p>
            <p>Если письмо не пришло в течении минуты, то проверьте спам.</p>
        </div>
    </div>
</div>