@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Забыли пароль?";
}
@section Css {
    <link rel="stylesheet" href="~/inline/css/register-login.css" />
}
<div class="container d-flex mt-3">
    <div class="login-form m-auto">
        <h4 class="login-title">Забыли пароль?</h4>
        <form method="post" asp-controller="Account" asp-action="ForgotPassword" asp-antiforgery="true">
            <div class="row login-content">
                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <div class="col-12 col-md-12">
                    <label asp-for="Email">Введите Email</label>
                    <input type="text" asp-for="Email" />
                    <span asp-validation-for="Email" />
                </div>
                <div class="col-md-12">
                    <input type="submit" value="Отправить" class="accept-register" />
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}