@model RegisterModel
@section Css {
    <link rel="stylesheet" href="~/inline/css/register-login.css" />
}
<div class="container d-flex mt-3">
    <div class="login-form w-50 m-auto">
        <h4 class="login-title">Регистрация аккаунта</h4>
        <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
            <div class="row login-content">
                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <div class="col-md-6 col-12">
                    <label asp-for="Email">Ваш Email</label>
                    <input type="text" asp-for="Email" />
                    <span asp-validation-for="Email" />
                </div>
                <div class="col-md-6 col-12">
                    <label asp-for="Password">Ваш пароль</label>
                    <input asp-for="Password" />
                    <span asp-validation-for="Password" />
                </div>
                <div class="col-md-12">
                    <label asp-for="ConfirmPassword">Повторите пароль</label>
                    <input asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword" />
                </div>
                <div class="col-12">
                    <input type="submit" value="Подтвердить" class="accept-register" />
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}