@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Сброс пароля";
}
@section Css {
    <link rel="stylesheet" href="~/inline/css/register-login.css" />
}
<div class="container d-flex mt-3">
    <div class="login-form m-auto">
        <h4 class="login-title">Сброс пароля</h4>
        <form method="post" asp-antiforgery="true">
            <div class="row login-content">
                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <div class="col-12">
                    <label asp-for="Email">Ваш Email</label>
                    <input type="text" asp-for="Email" />
                    <span asp-validation-for="Email" />
                </div>
                <div class="col-12">
                    <label asp-for="Password">Ваш пароль</label>
                    <input asp-for="Password" />
                    <span asp-validation-for="Password" />
                </div>
                <div class="col-12">
                    <label asp-for="ConfirmPassword">Повторите пароль</label>
                    <input asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword" />
                </div>
                <div class="col-md-12">
                    <input type="submit" value="Отправить" class="accept-register" />
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}