header {
    background-color: #d8a247;
    padding: 16px;
}

.header-content, .brand-name {
    display: flex;
    align-items: center;
}

.header-content, .site-navigation {
    justify-content: center;
}

.header-content {
    flex-wrap: wrap;
}

    .header-content > ul > li .nav-link, .brand-name {
        color: white !important;
    }

.brand-name {
    margin-right: 15px;
}

    .brand-name > span {
        font-size: 32px;
        margin-bottom: .5rem;
        line-height: 1.2;
    }

@media (max-width: 991px) {
    .brand-name {
        margin-right: 0px;
    }
}

.nav-link {
    position: relative;
}

.site-navigation {
    margin-bottom: 8px;
}

.header-content > ul > li > a:before, .header-content > ul > li > a:after {
    content: "";
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 13px;
    opacity: 0;
    visibility: hidden;
}

.header-content > ul > li:hover > a:before, .header-content > ul > li:hover > a:after {
    transition: all 0.25s ease-in;
    opacity: 1;
    visibility: visible;
}

.header-content > ul > li:hover > a:before {
    left: 0px;
}

.header-content > ul > li > a:before {
    left: -15px;
}

.header-content > ul > li:hover > a:after {
    right: 0px;
}

.header-content > ul > li > a:after {
    right: -15px;
}

.form-control:focus {
    border-color: rgba(0, 0, 0, 0.35);
    box-shadow: none;
}

    .form-control:focus ~ .search-options-container {
        visibility: visible;
    }

.search-options-container {
    position: relative;
    visibility: hidden;
}

    .search-options-container:hover {
        visibility: visible;
    }

    .search-options-container .search-options {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        background-color: white;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        padding: 6px 12px;
        overflow-y: auto;
        max-height: 180px;
        width: 100%;
        line-height: 18px;
        list-style-type: none;
    }

        .search-options-container .search-options > li {
            flex: 1 0 auto;
            margin: 5px 0px;
            font-size: 12px;
        }

            .search-options-container .search-options > li:hover {
                cursor: pointer;
                background-color: #dddddd;
            }

@media (min-width: 768px) {
    .search-options-container .search-options > li {
        font-size: 14px;
    }
}


.dropdown {
    display: flex;
}

    .dropdown > a {
        border-right: 1px solid rgba(0, 0, 0, 0.15);
        padding: 0px 10px;
    }

        .dropdown > a > img {
            width: 32px;
            height: 32px;
        }

        .dropdown > a:first-child {
            border-left: 1px solid rgba(0, 0, 0, 0.15);
        }

    .dropdown > ul > li:last-child {
        border-top: 1px solid rgba(0, 0, 0, 0.15);
    }

.dropdown-item:active {
    background-color: #d8a247;
}

.header-cart {
    position: relative;
}

    .header-cart > span {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        height: 18px;
        width: 18px;
        color: white;
        background-color: red;
        border-radius: 50%;
        top: 0px;
        right: 3px;
        font-size: 10px;
        font-weight: 600;
        line-height: 1;
    }

#user > span {
    color: white;
    margin-left: 5px;
    vertical-align: middle;
}
