/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url(/images/background/background.jpg);
    background-attachment: fixed;
    /*background-repeat: no-repeat;*/
    font-family: 'Roboto Slab', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    background-color: #F7F7F7;
    line-height: 60px; /* Vertically center the text there */
}

/* Paging
-------------------------------------------------- */
.pagination-box {
    padding: 0px;
}

    .pagination-box li {
        cursor: pointer;
        display: inline-block;
        position: relative;
        padding: 21px 21px;
        background-color: white;
        border: 1.08px solid #e5e5e5;
    }

        .pagination-box li > a {
            padding: 10px 17px;
            position: absolute;
            transform: translate(-50%,-50%);
        }

        .pagination-box li.active {
            background-color: #d8a247;
        }

            .pagination-box li.active > a {
                color: white;
            }

        .pagination-box li:hover {
            transition: all 0.3s ease-in;
            background-color: #d8a247;
        }

            .pagination-box li:hover > a {
                transition: all 0.3s ease-in;
                color: white;
            }

.text-black {
    color: black;
}

/* Table
-------------------------------------------------- */

table {
    width: 100%;
    border-spacing: 0px;
    font-size: 14px;
}

    table > thead > tr > th {
        padding: 8px;
    }

    table > tbody > tr {
        border-top: 1px solid #ddd;
    }

        table > tbody > tr > td {
            padding: 25px 8px;
        }

@media (max-width: 767px) {
    table {
        font-size: 12px;
    }
}

@media (max-width: 575px) {
    table {
        font-size: 10px;
    }
}

/* Number Input
-------------------------------------------------- */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.cart-plus-minus {
    position: relative;
    width: 63px;
    text-align: left;
}

    .cart-plus-minus > .qtybutton {
        transition: 0.25s ease-in;
        border-bottom: 1px solid #E5E5E5;
        border-right: 1px solid #E5E5E5;
        border-top: 1px solid #E5E5E5;
        cursor: pointer;
        height: 20.5px;
        position: absolute;
        text-align: center;
        width: 22px;
    }

    .cart-plus-minus > .cart-plus-minus-box {
        border: 1px solid #E5E5E5;
        height: 41px;
        text-align: center;
        width: 41px;
    }

        .cart-plus-minus > .cart-plus-minus-box:focus-visible {
            outline: #d8a247 auto 1px;
        }

.quantity > label {
    margin-right: 15px;
}

.quantity .cart-plus-minus {
    display: inline-block;
}

    .quantity .cart-plus-minus > .qtybutton.dec {
        bottom: 0;
        right: 0;
    }

        .quantity .cart-plus-minus > .qtybutton.dec:before {
            content: '-';
        }

    .quantity .cart-plus-minus > .qtybutton.inc {
        border-bottom: none;
        top: 0;
        right: 0;
    }

        .quantity .cart-plus-minus > .qtybutton.inc:before {
            content: '+';
        }

    .quantity .cart-plus-minus > .qtybutton:hover {
        transition: 0.25s ease-in;
        background: #EBEBEB;
    }

    .quantity .cart-plus-minus > .qtybutton.disable {
        pointer-events: none;
        opacity: 0.4;
    }

@media (max-width: 575px) {
    .cart-plus-minus {
        width: 60px;
    }

        .cart-plus-minus > .cart-plus-minus-box {
            height: 38px;
            width: 38px;
        }

        .cart-plus-minus > .qtybutton {
            height: 19px;
            width: 22px;
        }
}

/* Discount
-------------------------------------------------- */
.card-discount {
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 15px;
    background-color: red;
    padding: 2px 7px;
    color: white;
}

/* Loading
-------------------------------------------------- */
.loading {
    user-select: none;
    pointer-events: none;
}

    .loading:before {
        opacity: .75 !important;
        visibility: visible !important;
    }

/* Register/login/create data Forms
-------------------------------------------------- */

.login-form label, .create-data-form label {
    font-size: 14px;
    margin-bottom: 12px;
}

.login-form input, .create-data-form input {
    width: 100%;
    border: 1px solid #e5e5e5;
    padding: 8px;
    font-size: 14px;
    color: #888888;
}

.login-form span, .create-data-form span {
    font-size: 12px;
    color: red;
}

.login-content > div, .create-data-form div {
    margin-bottom: 15px;
}