@model List<SelectedItemCharacteristics>
<div>Для выбора нескольких характеристик на устройствах с большим экраном зажмите Ctrl</div>
@foreach (var c in Model)
{
    <div>
        <label class="control-label">@c.Name: </label>
        <select class="form-select" multiple="multiple" name="characteristics" asp-for="@c.SelectedValue" asp-items="@c.Values"></select>
    </div>
}