@section Css {
    <link rel="stylesheet" href="~/inline/css/dbeditor.css" />
}
<div class="row m-0">
    <div class="editor-menu order-0 col-sm-3 col-xl-2">
        <div class="mb-md-0 me-md-auto">
            <h5>База данных</h5>
        </div>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li>
                <a href="javascript: undefined" class="nav-link active" onclick="GetJewelrysTable($(this))">Изделия</a>
            </li>
            <li>
                <a href="javascript: undefined" class="nav-link link-dark" onclick="GetCharacteristicsTable($(this))">Характеристика/значение</a>
            </li>
            <li>
                <a href="javascript: undefined" class="nav-link link-dark" onclick="GetJewelryKindsTable($(this))">Виды изделий</a>
            </li>
            <li>
                <a href="javascript: undefined" class="nav-link link-dark" onclick="GetDiscountsTable($(this))">Скидки</a>
            </li>
            <li>
                <a href="javascript: undefined" class="nav-link link-dark" onclick="GetUsersTable($(this))">Пользователи</a>
            </li>
        </ul>
        <hr />
    </div>
    <div id="dbTable" class="order-1 col-sm-9 col-xl-10">
        @await Html.PartialAsync("_JewelrysTable")
    </div>
</div>
@section Scripts {
    <script src="~/inline/js/databaseeditor.js"></script>
}
