@model List<DiscountModel>
@section Css {
    <link rel="stylesheet" href="~/inline/css/dbeditor.css" />
}
<div class="row m-0">
    <div class="editor-menu order-0 col-sm-3 col-xl-2">
        <div class="mb-md-0 me-md-auto">
            <h5>База данных</h5>
        </div>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li>
                <a asp-action="JewelrysTable" class="nav-link link-dark">Изделия</a>
            </li>
            <li>
                <a asp-action="CharacteristicsTable" class="nav-link link-dark">Характеристика/значение</a>
            </li>
            <li>
                <a asp-action="JewelryKindsTable" class="nav-link link-dark">Виды изделий</a>
            </li>
            <li>
                <a asp-action="DiscountsTable" class="nav-link active">Скидки</a>
            </li>
            <li>
                <a asp-action="UsersTable" class="nav-link link-dark">Пользователи</a>
            </li>
        </ul>
        <hr />
    </div>
    <div id="dbTable" class="order-1 col-sm-9 col-xl-10">
        <div id="cart" class="db-container">
            <div class="title">
                <h3>Скидки на изделия</h3>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/inline/js/databaseeditor.js"></script>
}
