@model EditItemViewModel
@section Css {
    <link rel="stylesheet" href="~/inline/css/dbeditor.css" />
}
<div class="db-container container">
    <div class="title">
        <h3>Изменить Ювелирное изделие</h3>
    </div>
    <a asp-action="JewelrysTable">вернуться назад</a>
    <hr />
    <form class="create-data-form" asp-action="EditJewelryDataSave" asp-antiforgery="true" method="post">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="container">
            <div class="row">
                <div class="order-0 col-sm-6">
                    <div class="row">
                        <input type="text" name="ID" value="@Model.Jewelry.ID" hidden />
                        <div class="form-group col-md-6 col-12">
                            <label class="control-label">Вид изделия: </label>
                            <select class="form-select" name="ID_Subspecies" asp-for="Kind.Kind" asp-items="Model.Kind.Kinds"></select>
                        </div>
                        <div class="form-group col-md-6 col-12">
                            <label class="control-label">Скидка на изделие: </label>
                            <select class="form-select" name="ID_Discount" asp-for="Discount.Discount" asp-items="Model.Discount.Discounts"></select>
                        </div>
                        @await Html.PartialAsync("_NewJewelry", Model.Jewelry)
                    </div>
                </div>
                <div class="order-1 col-sm-6">
                    @await Html.PartialAsync("_JewelryCharacteristics", Model.Characteristics)
                </div>
                <div class="form-group order-2 col-sm-12">
                    <input type="submit" value="Сохранить" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    <script src="~/inline/js/databaseeditor.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}