@section Css {
    <link rel="stylesheet" href="~/inline/css/cart.css" />
}
<div class="container mt-4">
    <div id="cart" class="cart">
        <div class="title">
            <h3>Корзина</h3>
        </div>
        <!-- ko ifnot: cartIsEmpty -->
        <table>
            <thead>
                <tr>
                    <th class="cart-item-img">Фотография</th>
                    <th>Название</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Итого</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: cartContent">
                <tr>
                    <td class="cart-item-img">
                        <img data-bind="attr:{src: jewelry.imageSrc, alt: jewelry.name}" />
                    </td>
                    <td class="cart-item-name">
                        <a data-bind="attr:{href: jewelry.url}, text: jewelry.name"></a>
                    </td>
                    <td data-bind="text: 'BYN ' + jewelry.price"></td>
                    <td>
                        <div class="quantity">
                            <div class="cart-plus-minus">
                                <input class="cart-plus-minus-box" type="number"
                                       data-bind="attr:{value: quantity}, event:{ change: function(){ChangeQuantity(jewelry.id, $(event.currentTarget)); jewelryQuanitity = jewelry.quantity},
                                       focus: function() {jewelryQuanitity = jewelry.quantity} }"
                                       oninput="NumerickInput($(event.currentTarget))" onfocus="NumerickFocus($(event.currentTarget))">
                                <div class="inc qtybutton" data-bind="css: { 'disable': quantity === jewelry.quantity }" onclick="NumerickClick($(event.currentTarget))"></div>
                                <div class="dec qtybutton" data-bind="css: { 'disable': quantity === 1 }" onclick="NumerickClick($(event.currentTarget))"></div>
                            </div>
                        </div>
                    </td>
                    <td data-bind="text: 'BYN ' + total_price"></td>
                    <td class="cart-item-delete text-danger" data-bind="click: function(){RemoveFromCart(jewelry.id)}">
                        <span>✗</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="cart-purchase-container">
            <form method="post" asp-controller="Cart" asp-action="Purchase" asp-antiforgery="true">
                <input class="cart-purchase" type="submit" value="Забронировать" />
                <div class="cart-total" data-bind="text: 'Итоговая цена: ' + totalPrice() + ' BYN'"></div>
            </form>
        </div>
        <!-- /ko -->
        <div class="cart-empty" data-bind="if: cartIsEmpty">
            <div class="cart-empty-title">Ваша корзина пуста =(</div>
            <div class="cart-empty-description">
                @if (User.Identity.IsAuthenticated)
                {
                    <div>Перейдите в <a asp-controller="Catalog" asp-action="List" asp-route-jkind="list">каталог</a> и добавьте товары.<br></div>
                    <div class="cart-empty-img">
                        <img src="~/images/sleeping-cat.png" />
                    </div>
                }
                else
                {
                    <div>
                        Перейдите в <a asp-controller="Catalog" asp-action="List" asp-route-jkind="list">каталог</a> и добавьте товары.<br>
                        Наполняли корзину ранее? <a asp-controller="Account" asp-action="Login">Войдите на сайт</a>, и выбранные вами товары появятся.
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/inline/js/cart.js"></script>
}