@{
    ViewData["Title"] = "Нехватка ювелирных изделий";
}
<div class="container mt-4">
    Кажется кто-то забронировал некоторые изделия раньше Вас. Мы обновили данные в вашей
    <a class="header-cart" asp-controller="Cart" asp-action="Cart">корзине</a>.
</div>