@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto Slab'), 
        url('/fonts/roboto-slab/roboto-slab-v13-latin_cyrillic-regular.woff2') format('woff2'),
        url('/fonts/roboto-slab/roboto-slab-v13-latin_cyrillic-regular.woff') format('woff');
}